<div class="row mt-5">
  <% good_movies.each do |movie| %>
    <div class="card">
      <a href="/movies/<%= movie.id %>" class="card-body text-white">
        <div class="row">
          <div class="col-sm-2">
            <%= attachment_image_tag movie.user, :profile_image, size: "50x50", format: 'jpeg',fallback: "no_image.png", class:"image text-left" %>
          </div>

          <div class="col-sm-10">
            <%= movie.user.name %>さん</br>

            <%= movie.name %>の評価

            <div class="mt-1", id="star1-rate-<%= movie.id %>"></div>
              <script>
              $('#star1-rate-<%= movie.id %>').empty();
              $('#star1-rate-<%= movie.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= movie.rate %>,
              });
              </script>

            <%= movie.review %>
          </div>
        </div>

        <div class="col text-right mt-2">
          <%= movie.updated_at.strftime('%Y/%m/%d') %>
        </div>

        <p class="col text-right border-top border-dark", id="good_buttons_<%= movie.id %>">
          <%= render 'goods/good', movie: movie %>
        </p>
      </a>
    </div>
  <% end %>
</div>