<div class="row">
  <% followings.each do |movie| %>
    <div class="card" style="width: 100rem;">
      <a href="/movies/<%= movie.id %>" class="card-body text-white">
        <div class="row">
          <div class="col-sm-2">
            <%= attachment_image_tag movie.user, :profile_image, size: "50x50", format: 'jpeg',fallback: "no_image.png", class:"image text-left" %>
          </div>

          <div class="col-sm-10">
            <%= movie.user.name %>さん</br>

            <%= movie.name %>の評価

            <div class="mt-1", id="star-rate-<%= movie.id %>"></div>
              <script>
              $('#star-rate-<%= movie.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= movie.rate %>,
              });
              </script>

            <%= movie.review %>
          </div>
        </div>

        <div class="col text-right mt-2">
          <%= movie.updated_at.strftime('%Y/%m/%d') %>
        </div>

        <p class="col text-right border-top border-dark">
          <% if current_user.already_good?(movie) %>
            <%= link_to "", movie_good_path(movie), method: :delete, class:"link fas fa-thumbs-up" %>
          <% else %>
            <%= link_to "", movie_goods_path(movie), method: :post, class:"link far fa-thumbs-up" %>
          <% end %>
          <%= movie.goods.count %>
          人がいいね
        </p>
      </a>
    </div>
  <% end %>
</div>