<div class="row">
  <table class="table table-borderless mt-5">
    <tbody>
      <% followings.each do |movie| %>
        <tr onclick='window.location="<%= '/movies/' + movie.id.to_s %>"' role="link">
          <td>
            <%= movie.user.name %>

            <%= movie.name %>

            <%= movie.genre.name %>

            <div class="col-md-10", id="star-rate-<%= movie.id %>"></div>
              <script>
              $('#star-rate-<%= movie.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= movie.rate %>,
              });
              </script>

            <%= movie.review %>

            <div class="col text-right mt-2">
              <p>
                <% if current_user.already_good?(movie) %>
                  <%= link_to "", movie_good_path(movie), method: :delete, class:"link fas fa-thumbs-up" %>
                <% else %>
                  <%= link_to "", movie_goods_path(movie), method: :post, class:"link far fa-thumbs-up" %>
                <% end %>
                <%= movie.goods.count %>
                人がいいね
              </p>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>