<%= form_with model: @movie, local:true do |f| %>


<div class="form-group row" id="star">
  <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
  <%= f.hidden_field :star, id: :review_star %>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'movie[star]',
    half: true,
  });
  </script>

  <% end %>