<div class="col-7">
  <div class="row">
    <div class="col-1 mt-1">
      <%= link_to "", :back, class:"fas fa-arrow-left" %>
    </div>

    <div class="col-11">
      <h3><%= @user.name %></h3>
    </div>
  </div>

  <ul class="nav nav-tabs nav-justified mt-5" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="followings-tab" data-toggle="tab" href="#followings" role="tab" aria-controls="followings" aria-selected="true">フォロー中</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">フォロワー</a>
    </li>
  </ul>
  <div class="tab-content mt-5" id="myTabContent">
    <div class="tab-pane fade show active" id="followings" role="tabpanel" aria-labelledby="followings-tab">
      <%= render 'relationships/index', users: @followings %>
    </div>
    <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
      <%= render 'relationships/index', users: @followers %>
    </div>
  </div>
</div>

<div class="col-2 d-none d-lg-block"> <!--md（横幅992px）未満で削除（サイドバーからアクセス可能）-->
  <%= render 'search/search', genres: @genres %>
</div>