<div class="row">
  <div class="col offset-1">
    <h3>
      <%= user.name %>
    </h3>
  </div>
</div>

<div class="row">
  <table class="table table-borderless">

    <tr class="brown-border">
      <td><%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg',fallback: "no_image.png", class:"image" %></td>
      <td>
        <% if user.id == current_user.id %>
          <%= link_to "プロフィールを編集", edit_user_path(user.id), class:" btn btn-light my-1" %>
        <% else %>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class:" btn btn-light my-1" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-outline-light my-1" %>
          <% end %>
        <% end %>


      </td>
    </tr>

    <tr class="brown-border">
      <td>自己紹介</td>
      <td><%= user.introduction %></td>
    </tr>

    <tr class="brown-border">
      <td>お気に入りの映画</td>
      <td><%= user.favorite_movie %></td>
    </tr>

    <tr class="brown-border">
      <td><%= link_to user.followings.count, user_index_path(user.id), class:"link" %>フォロー</td>

      <td><%= link_to user.followers.count, user_index_path(user.id), class:"link" %>フォロワー</td>
    </tr>

  </table>
</div>

<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">goods</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'movies/index', movies: @movies %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= render 'movies/good_movies', good_movies: @good_movies %>
  </div>
</div>
