<div class="row">
  <table class="table table-borderless">

    <tr class="brown-border">
      <td><%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg',fallback: "no_image.png", class:"image" %></td>
      <td><%= user.name %></td>
    </tr>

    <tr class="brown-border">
      <td>自己紹介</td>
      <td><%= user.introduction %></td>
    </tr>

    <tr class="brown-border">
      <td>お気に入りの映画</td>
      <td><%= user.favorite_movie %></td>
    </tr>

    <tr class="brown-border">
      <td><%= link_to user.followings.count, user_followings_path(user.id), class:"link" %>フォロー</td>

      <td><%= link_to user.followers.count, user_followers_path(user.id), class:"link" %>フォロワー</td>
    </tr>

  </table>
</div>

<% if user.id == current_user.id %>
  <div class="text-center">
    <%= link_to "プロフィールを編集", edit_user_path(user.id), class: "btn  btn-light my-1" %>
  </div>
<% else %>
  <div class="text-center">
    <% if current_user.following?(user) %>
      <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class:" btn btn-light my-1" %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class:"btn btn-outline-light my-1" %>
    <% end %>
  </div>
<% end %>

<% if user.id == current_user.id %>
  <div class="text-center">
    <%= link_to "映画レビューの投稿", new_movie_path, class: "btn  btn-light my-1" %>
  </div>
<% end %>

<table class="table table-borderd table-hover mt-5">
  <thead>
    <tr class="underline">
      <th>投稿</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to movie.name, movie_path(movie.id), class:"link" %>
      </td>
      <td>
        <div id="star-rate-<%= movie.id %>"></div>
          <script>
          $('#star-rate-<%= movie.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= movie.rate %>,
          });
          </script>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


