<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/userinfo', user: @user, movies: @movies %>
    </div>

    <div class="col-md-4">
      <%= render 'movies/index', followings: @followings %>
    </div>

    <div class="col-md-4">
      <div class="name-search">
        <% if user_signed_in? %>
          <h5>検索</h5>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <%= f.text_field 'search[value]', size: "26x4" %><br>
            <span class="search-button col-xs-12 text-right">
              <%= f.select 'search[how]', options_for_select({ "部分一致" => "partical", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "match" }) %>
              <%= f.submit :"検索" %>
            </span>
          <% end %>
        <% end %>
      </div>

      <table class="table table-borderless table-hover mt-5">
        <thead>
          <th>ジャンル</th>
        </thead>
        <tbody>
            <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>



